MONGO_URI= YOUR MONGODB CONNECTION URL
PORT=3000
CORS_ORIGIN=*;
REFRESH_TOKEN_SECRET=YOUR_TOKEN
REFRESH_TOKEN_EXPIRY=YOUR_EXPIRY_TIMELINE
ACCESS_TOKEN_SECRET=YOUR_TOKEN
ACCESS_TOKEN_EXPIRY=YOUR_EXPIRY_TIMELINE

// mailtrap credentials
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=YOUR_USERNAME
MAILTRAP_PASSWORD=YOUR_PASSWORD

CLIENT_URL=YOUR_CLIENT_URL

// node env
NODE_ENV=YOUR ENVIRONMENT

//cloudinary credentials

CLOUDINARY_CLOUDNAME=YOUR_CLOUDNAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET